body{
  background-color: #282c34 !important;
}
.wrapper{
    width:500px;
    display: block;
    margin: auto;
}
.title{
    color: #fff;
    font-size: 60px;
}

.game-container{
    display: block;
    margin: 10px auto;
    padding:15px;
    background-color: #2C3D63;
    border-radius: 3px;
    box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
}
#game-over {
    color: #fff;
    display:none;
    text-align:center;
    font-size: 30px;
}
.intro{
    color: #fff;
    font-size: 16px;
}

.item-row{
    margin: 1px auto;
    padding: 5px auto;
    border-radius: 3px;
    text-align: center;
    color: #fff
}

.block{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #bbb;
    margin: 5px;
    width: 100px;
    height: 100px;
    border-radius: 3px;
    color: #bbb;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
}
.block2{
    background-color: #FFFFE0;
    color : #444;
}
.block4{
    background-color: #FFEFD5;
    color : #444;
}
.block8{
    background-color: #EEE8AA;
    color : #555;
}
.block16{
    background-color: #BC8F8F;
    color : #444;
}
.block32{
    background-color: #45AC45;
    color : #444;
}
.block64{
    background-color: #3CB371;
    color : #444;
}
.block128{
    background-color: #87CEFA;
    color : #222;
}
.block256{
    background-color: #1E90FF;
    color : #333;
}
.block512{
    background-color: #4169E1;
    color : #ddd;
}
.block1024{
    background-color: #7B2B80;
    color : #bbb;
}
.block2048{
    background-color: #FF00FF;
    color : #AFEEEE;
}
.block4096{
    background-color: #DA70D6;
    color : #555;
}
.block8192{
    background-color: #FF69B4;
    color : #555;
}
.block16384{
    background-color: #FF1493;
    color : #333;
}
.block32768{
    background-color: #FF00FF;
    color : #222;
}
.block65536{
    background-color: #FFD700;
    color : #000;
}
.block131072{
    background-color: #000;
    color : #fff;
}
.score{
    color: #12bdaf;
    font-size:28px;
    text-align: center;
    margin: 5px;
}
.game-explanation{
    margin: 1px auto;
    color: #fff;
}
.game-explanation p{
     font-size: 18px;

}
.game-explanation a{
    color: #fff;
    font-weight:bold;
}

@media screen and (max-width: 500px) {
    .wrapper{
        width:400px;
    }
    .title{
        font-size: 60px;
    }

    .game-container{
        margin: 5px auto;
        padding:10px;
    }

    .block{
        margin: 5px;
        width: 75px;
        height: 75px;
        font-size: 26px;
    }
}

@media screen and (max-width: 400px) {
    .wrapper{
        width:300px;
    }
    .title{
        font-size: 44px;
    }

    .game-container{
        padding:8px;

    }
    .score{
        font-size:24px;
        margin: 4px;
    }

    .block{
        margin: 3px;
        width: 57px;
        height: 57px;
        font-size: 24px;

    }
    .game-explanation p{
        font-size: 16px;
    }

}
